[submodule "rai"]
	path = rai
	url = https://github.com/fdamken/rai.git
	branch = fabian
[submodule "rai-robotModels"]
	path = rai-robotModels
	url = https://github.com/MarcToussaint/rai-robotModels.git
[submodule "botop"]
	path = botop
	url = git@github.com:MarcToussaint/botop.git
